body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00335c, #20005c);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.tile {
    width: 100%;
    background-color: #4f4f4f;
    margin: 7px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transform: scale(1.02);
    transition: cubic-bezier(0.7, 1.4, 0.8, 1.4) 0.2s;
}

.space {
    width: 40px;
    height: 40px;
    background-color: #4f4f4f;
    margin: 8px;
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 48px;
    height: 48px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    min-width: 400px;
    color: white;
    align-items: center;
    justify-content: space-around;
}